{% extends 'layout.html' %} {% block body %}
<div class="about text-dark text-center jumbotron">
	<h1><u>About</u></h1>

	<br><br>
	<h5>
		Being a college student, i always thought we must track our expenses and make sure we spend it on the right
		things.That's what sparked the idea of this expense tracker app.
	</h5>
	<h5>
		This app helps you track your daily expenses.You can feed in your expenses in this app and refer to the expenses you
		made throughout the day,month and even year.
	</h5>
	<h5>It gives you a month-wise total of your expenses and helps you compare your monthly expenses.</h5>
</div>
{% endblock %}